@import "../styles/variables.scss";


.sectionHeader{
  font-size: $h1-size;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: $color-navy;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.sectionSubHeader{
  font-size: $h2-size;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: $color-navy;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.contentBody{
  font-size: $font-size;
  line-height: $line-height;
  color: $color-navy;
}
.contentBody p:not(:last-child){
  margin-bottom: 1rem;
}


// Services
.servicesWrapper{
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.services{
  margin: auto;
}
.servicesGrid{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 3rem;
  min-height: 300px;
}
.servicesImage{
  min-height: 18rem;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.servicesText{
  max-width: 640px;
  padding: 1rem 1rem;
}

// About Section
.aboutWrapper{
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.about{
  max-width: 42rem;
  margin: auto;
  text-align: center;
  padding: 0 1rem;
}

// Why us Section
.whyUs{
  max-width: 65rem;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  text-align: center;
}

// Contact section
.contactWrapper{
  padding: 1rem 1rem 3rem;
  min-height: 25rem;
  text-align: center;
}

@media (min-width: 768px){

  .servicesGrid {
    flex-wrap: nowrap;
    flex-direction: row;
    min-height: 500px;
  }
  .reverseFlex{
    margin-top: 3rem;
  }
  .reverseFlex > div:nth-child(even){
    flex-direction: row-reverse;
  }
  .servicesImage{
    flex-basis: 50%;
    min-height: 31rem;
    min-width: 50%;
  }
  .servicesText{
    padding: 1rem 3rem;
  }

  .whyUs{
    padding-bottom: 2rem;
    flex-wrap: nowrap;
    gap: 2rem;
    text-align: center;
  }

}