@import "../styles/variables.scss";

.footer {
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  text-align: center;
  background-color: #f7f7f7;
  border-top:1px solid #eeeeee;
  color: $color-navy;
  a{
    color: $color-navy;;
  }
}
.footerContainer{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.social{
  margin-top: 0.5rem;
}

.contactHeading{
  font-family: 'Poppins', sans-serif;
  font-size: $h2-size;
  font-weight: 700;
}
.phoneField{
  display: flex;
  width: 185px;
  margin: auto;
}
.footerIcon{
  width: 30px;
  margin-right: 10px;
}
.footerFlags{
  width: 28px;
  margin-right: 10px;
}


.credits{
  padding: .5rem;
  font-size: .8rem;
  border-top: 1px solid #eeeeee;
  font-style: italic;
}

@media (min-width: 480px){
  .footerContainer{
    width: 460px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .contacts{
    text-align: left;
  }
  .social{
    margin-top: 0;
    text-align: right;
  }
  
}