@import "../styles/variables.scss";


.backgroundImage {
  position: relative;
  min-width: 100%;
  min-height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.content{
  position: absolute;
  z-index: 0;
  bottom: 80px;
  margin: auto;
  padding: 2.5rem 2rem;
  color: $color-navy;
  font-size: $h1-size;
  background-color: rgba($color-white, 0.5);
  line-height: 1.5;
  
}
.slogan{
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
.subHeading{
  font-size: $h2-size;
}